name: Build(PowerShell)

on:
  pull_request:
    paths:
      - '**/*.ps1'
      - '**/*.psd1'
      - '**/*.psm1'
      - .github/workflows/build-powershell.yml

permissions:
  contents: read

jobs:
  main:
    uses: finphie/Actions/.github/workflows/build-powershell.yml@main
