name: Cache

on:
  workflow_dispatch:
  schedule:
    - cron: '0 15 * * *'

jobs:
  check:
    name: 'Cache: Check file type'
    if: github.event.repository.name != 'dotfiles'
    runs-on: ubuntu-latest

    outputs:
      nuget: ${{ steps.x.outputs.nuget }}

    steps:
      - name: Checkout ${{ github.event.repository.name }} repository
        uses: actions/checkout@v2

      - name: Check file type
        id: x
        shell: pwsh
        run: |
          Write-Output "::set-output name=nuget::$(Test-Path *.sln)"

  nuget:
    name: 'Cache: NuGet'
    runs-on: ubuntu-latest
    needs: check
    if: needs.check.outputs.nuget == 'True'
    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true
      NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages

    steps:
      - name: Checkout ${{ github.event.repository.name }} repository
        uses: actions/checkout@v2

      - name: Cache nuget packages
        uses: actions/cache@v2
        with:
          path: ${{ env.NUGET_PACKAGES }}
          key: nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: nuget-

      - name: .NET restore
        run: dotnet restore --locked-mode