name: Lint

on:
  pull_request:
    types: [opened, synchronize]
    paths:
      - '**/*.ps1'
      - '**/*.psd1'
      - '**/*.psm1'
      - .github/workflows/linter-powershell.yml

jobs:
  main:
    name: 'Lint: PowerShell'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout ${{ github.event.repository.name }} repository
        uses: actions/checkout@v2

      - name: Check file
        id: check
        shell: pwsh
        run: |
          $files = Get-ChildItem . -Recurse -Name -Include '*.ps1', '*.psd1', '*.psm1' -Exclude PSScriptAnalyzerSettings.psd1
          Write-Output $files
          Write-Output "::set-output name=run::$($files.Length -gt 0)"

      - name: Install PSScriptAnalyzer
        if: steps.check.outputs.run == 'True'
        shell: pwsh
        run: Install-Module -Name PSScriptAnalyzer -Force

      - name: Lint PowerShell code
        if: success()
        shell: pwsh
        run: Invoke-ScriptAnalyzer . -EnableExit -Recurse